 {{!-- <h2> Got a question or comment, post it here</h2> --}}
{{!-- <h2><span id="cove-count"></span> Comments</h2> --}}

{{#if @member}}
  <div id="cove"></div>
{{!-- 
  <p>Signed in as {{@member.email}} · <a href="javascript:" data-members-signout>Sign out</a></p>

  <script>
  const Cove = {
    contentId: "{{id}}",
    memberId: "{{@member.uuid}}",
    memberEmail: "{{@member.email}}",
    memberName: "{{@member.firstname}}"
  }
  </script> --}}
{{else}}
  <p><a href="#/portal/signup">Sign in or become a {{@site.title}} member</a> to read and leave comments.<br>
{{/if}}  

